*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
    }
    
    .main{
        border: none;
    }
    
    .nav-main{
    background-color:#1a1a1a;
    width:100%;
    height: 100px;
    position: relative;
    display: flex;
    overflow: hidden;
    margin: auto;
    justify-content: space-evenly;
    }
    
    .bose-logo{
        width: 77px;
        height: 77px;
        position: relative;
        right: 33px;
    }
    
    .sub-div-1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    margin-left: 45px;
    font-size: 13px; font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 60px;
    right: 180px;
    }
    
    .search{
        width: 290px;
        height: 25px;
        background-color: rgb(255, 255, 255);
        align-items: center;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        position: relative;
        right: 150px;
        top: 15px;
        border: none;
        outline: none;
        border-radius: 50px;
        background-color: rgb(39, 39, 39);
    }
    .input-search{
        width: 250px;
        height: 25px;
        position: relative;
        left: 20px;
        border: none;
        background-color: rgb(39, 39, 39);
        
    }
    #responsive-mr{
        display: none;
    }
    .menu{
        position: absolute;
        z-index: 1;
        display: none;
    }
    .bose-mobile-logo{
        position: absolute;
        z-index: 1;
        display: none;
        
    }
    .fa-magnifying-glass{
        font-size: 18px;
        color: black;
       position: relative;
       right: 10px;
       background: none;
    }
    .search-button{
        border:none;
        background: none;
    }
    
    
    .support{
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        position: relative;
        left: 165px;
        bottom: 10px;
        font-size: 12px;
    }
    .support-img{
    width: 22px;
    margin-right: 5px;
    display: flex;
    }
    .stores{
        display: flex;
        align-items: center;
        position: relative;
        left: 260px;
        bottom: 45px;
            font-size: 12px;
            color: rgb(255, 255, 255);
    }
    .fa-location-dot{
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin-right: 5px;
    }


    /* NAV-------------------------------------END[]]]]]]]====================------------- */
       
/* extention---------------------------------------------------------------------------------------------- */
.nav-etention{
    background-color:#1a1a1a;
    width:100%;
    height: 225px;
    position: absolute;
    top: 100px;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    display: none;
}
.sub-1{
    margin-left: 260px;
    width: 350px;
    height: 225px;
    background-color: #1a1a1a;
    line-height: 25px;
    padding-top: 30px;
}.sub-2{
    width: 350px;
    height: 225px;
    background-color: #1a1a1a;
    line-height: 25px;
    padding-top: 30px;
}.sub-3{
    width: 350px;
    height: 225px;
    background-color: #1a1a1a;
    line-height: 25px;
    padding-top: 30px;
}
.vertical{
    border: none;
    border-left: 2px solid rgb(255, 255, 255);
    height: 150px;
    position: absolute;
    left: 350px;
    
}
.vertical-2{
    border: none;
    border-left: 2px solid rgb(247, 247, 247);
    height: 150px;
    position: absolute;
    left: 700px;
 
}
.vertical-3{
    border: none;
    border-left: 2px solid rgb(255, 255, 255);
    height: 150px;
    position: absolute;
    left: 1050px;
    
}

.x{
    display: flex;
    position: absolute;
    
}



/* extention---------------------------------------------------------------------------------------------- */

    /* How-noise-cancelling-main------------------------start-------------------------------------- */

    .How-noise-cancelling-main{
        width: 100%;
        height: 1400px;
        background-color:rgb(32, 32, 32);
        display: flex;
       justify-content: center;

    }
    .How-noise-cancelling-sub-1{
        width: 84%;
        height: 1400px;
        background-color:rgb(32, 32, 32);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .How-noise-cancelling-t{
       
       display: flex;
       
      justify-content: center;
        width: 73%;
        height: 350px;
        background-color:rgb(32, 32, 32);
        flex-direction: column;
    }
    .How-noise-cancelling-h1{
        margin-top:50px;
        font-size: 45px;
       font-weight: 400;
       text-align: center;
    }
    .How-noise-cancelling-h2{
        font-weight: 300;
        text-align: center;
        margin-top: 15px;
        font-size: 30px;
        color: rgb(68, 68, 68);
       
    }
    .How-noise-cancelling-img-div{
        width:100%;
        height: 700px;
        background-color:rgb(32, 32, 32);
        overflow: hidden;
    }
    .How-noise-cancelling-img{
        width: 100%;
        object-fit: contain;
    }
    .whenever-text{
        width: 97%;
        height: 400px;
        background-color:rgb(32, 32, 32);
    }
    .whenever-text-sub{
        margin-top: 40px;
        line-height: 25px;
    }
    p{padding: 10px;

    }

    /* How-noise-cancelling-main------------------------end------------------------------------- */

    /*Problem-------------------------start --------------------------------------------------- */

    .cabin-noise{
        width: 100%;
        height: 780px;
        background-color:rgb(32, 32, 32);
        display: flex;
       justify-content: center;
       flex-wrap: wrap;
    }
    .cabin-noise-sub-1{
        width: 84%;
        height: 450px;
        background-color:rgb(32, 32, 32);
        display: flex;
        
    }
    .cabin-noise-img-t{
        display: flex;
       
          width: 100%;
          height: 450px;
           background-color:rgb(32, 32, 32);
    }
    .cabin-noise-img{
        background-color:rgb(32, 32, 32);
        width:35.8%;
          height: 450px;
          overflow: hidden;
    }
    .noise-img{
        width: 100%;
        object-fit: contain;
    }
    .cabin-noise-text{
        background-color:rgb(32, 32, 32);
        width: 65%;
          height: 450px;
          display: flex;
          flex-direction: column;
          justify-content: center;
         
         
    }
    .noise-text-h{
        margin-left: 40px;
    }
    .noise-text{
        line-height: 25px;
        margin-left: 30px;
    }
    .cabin-noise-img-t-2{
        width: 100%;
        height: 400px;
        background-color:rgb(32, 32, 32);
    }
    .cabin-noise-sub-2{
        width: 84%;
        height: 330px;
        background-color:rgb(32, 32, 32);
        line-height: 25px;
       padding-left: 30px;
       padding-top: 30px;
    }

    /* Cabin noise............................................................end.............. */



    .chatty-seat-neighbours{
        width:100%;
        height: 330px;
        background-color:rgb(32, 32, 32);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .chatty-seat-sub-1{
        width: 84%;
        height: 330px;
        background-color:rgb(32, 32, 32);
        line-height: 25px;
       padding-left: 30px;
    }
    .chatty-seat-h{
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
    }

    /* .chatty-seat-neighbours----------------------end =--------------------------- */

    .stress-from-flying{
        width:100%;
        height: 700px;
        background-color:rgb(32, 32, 32);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .stress-from-flying-sub{
        width:84%;
        height: 635px;
        background-color:rgb(32, 32, 32);
        display: flex;
    }
    .stress-from-flying-text{
        width: 50%;
        height:635px ;
        background-color:rgb(32, 32, 32);
        line-height: 25px;
       padding-left: 20px;
    }
    .stress-from-flying-img{
        width: 50%;
        height:635px ;
        background-color:rgb(32, 32, 32);
    }
    .from-flying-img{
        width: 100%;
    }
    .flying-text-h{
        padding: 10px;
        margin-top: 10px;
    }

    /* .stress-from-flying-0--------------------------------------------end---------------------- */

    .trouble-relaxing{
        width:100%;
        height: 500px;
        background-color:rgb(32, 32, 32);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        line-height: 25px;
    }
    .trouble-relaxing-sub{
        width:84%;
        height: 500px;
        background-color:rgb(32, 32, 32);
       
    }
    .trouble-relaxing-h{
        padding: 10px;
        margin-top: 10px;
    }

    /* .trouble-relaxing---------------------------------------end------------------ */

    .share-this{
        width:100%;
        height: 300px;
        background-color:rgb(32, 32, 32);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 15px;
    }
    .share-this-sub{
        width: 84%;
        height: 300px;
        background-color:rgb(32, 32, 32);
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .logos{
        width: 100px;
        height: 50px;
        background-color:rgb(32, 32, 32);
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
    }
    .fa-facebook-f{
        font-size: 25px;
    }
    .fa-twitter{
        font-size: 25px;
    }
    .share-this-p{
        position: absolute;
        display: flex;
        left: 8%;
       margin-top: 90px;
       font-size: 13px;
       font-style: italic;
    }

    /* .share this  -------------------------------------end 0-00---------------------------------------/ */


    .related-products{
        width: 100%;
        height:635px ;
        background-color: rgb(41, 41, 41);
        display: flex;
        justify-content: center;
    }
    .related-products-sub{
        width:84%;
        height: 635px;
        background-color: rgb(41, 41, 41);
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .related-h{
        padding-top: 50px;
        padding-bottom: 20px;
        letter-spacing: 7px;
        font-weight: 400;
    }
    .products{
        
        width: 100%;
        height: 350px;
         background-color: rgb(41, 41, 41);
        display: flex;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        font-weight: 800;
        
    }
    .product-1{
        width: 275px;
            height: 350px;
            background-color: rgb(41, 41, 41);
            
    }
    .product-2{
        width: 275px;
            height: 350px;
            background-color: rgb(41, 41, 41);
          margin-left: 4%;
    }
    .product-img{
        width: 275px;
        height: 300px;  
        background-color:rgb(32, 32, 32);
        object-fit: cover;
       justify-content: center;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .para-2{
        font-weight: 400;
        margin-top: -20px;
        color: rgb(63, 63, 63);
    }


/* .related-products-----------------------------------------end--------------------------- */

    .related-stories{
        width: 100%;
        height:600px ;
        background-color:rgb(32, 32, 32);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .related-stories-sub{
        width: 100%;
        height: 400px;
        background-color:rgb(32, 32, 32);
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }
    .related-stories-h{
       position: relative;
       bottom: 30px;
       letter-spacing: 7px;
       font-weight: 400;
    }
    .related-stories-container{
        width: 30%;
        height: 400px;
        background-color:rgb(32, 32, 32);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .for-img{
        width: 100%;
        height: 220px;
        background-color:rgb(32, 32, 32);
        overflow: hidden;
        
    }
    .related-stories-p{
        font-size: 23px;
        font-weight: 800;
        font-family: BoseText, Verdana, sans-serif;
    }
    .explore-button{
        width: 143px;
                height: 38px;
                border-radius: 50px;
                border: 1px solid gray;
                color: rgb(223, 223, 223);
                background-color:#1a1a1a;
                font-family: "Roboto", sans-serif;
                font-weight: 900;
                font-size: 15px;
                margin-top: 20px;        
    }


    /* related-stories............................................................end------------ */



    
    .are-boys-points{
        width: 100%;
        height:400px ;
        background-color:rgb(32, 32, 32);
        display: flex;
        
    }
    .are-boys-points-sub{
        width: 100%;
        height:400px ;
        background-color:rgb(32, 32, 32);
    }
    .fa-square-plus{
        margin: 3px;
        margin-right: 10px;
        margin-left: 20px;
    }





    /* are-----------------end-------------------------------- */


    .fb-etc{
        width: 100%;
        height: 120px;
       
      position: relative;
      top: 1px;
      padding: 20px;
      background-color: rgb(27, 27, 27);
    }
       
    
                 /* .fa-facebook-f{
                    color: rgb(89, 89, 89);
                    font-size: 27px;
                    margin-left: 220px;
                    margin-top: 18px;
                 }   */
                 #ooha-f{
                    color: rgb(89, 89, 89);
                    font-size: 27px;
                    margin-left: 220px;
                    margin-top: 18px;
                 }
                   
                      
                      .fa-youtube{
                        color: rgb(89, 89, 89);
                        font-size: 27px;
                        margin-left: 30px;
                        margin-top: 18px;
                      }
                          
                        
                          .fa-envelope{
                            color: rgb(89, 89, 89);
                            font-size: 28px;
                            margin-left: 825px;
                            margin-top: 15px;
    
                          }
                        
                               .email-text{
                                position: absolute;
                                left: 1200px;
                                bottom: 60px;
                                font-size: 12px;
                                 color: rgb(89, 89, 89);
                               }
                     
                               
           
                               
        .end{
       
            width: 100%;
            height: 580px;
            background-color: red;
            position: relative;
            /* top: 10px; */
            text-align: center;
            background-color: rgb(17, 17, 17);
        } 
        
            .support-end{
                text-align: left;
                position: absolute;
                top: 70px;
                left: 580px;
                font-size: 14px;
                line-height: 30px;
                color: rgb(89, 89, 89);
            }
         
               
              .privacy-end{
                text-align: left;
                position: absolute;
                top: 70px;
                left: 950px;
                font-size: 14px;
                line-height: 30px;
                color: rgb(89, 89, 89);
              }
              .auto-text{
                position: relative;
                right: 450px;
                top: 70px;
                font-size: 14px;
                font-weight: 900;
              }
    
    
    
    
              .region{
                position: relative;
                top: 370px;
                right: 320px;
                font-size: 13px;
                font-weight: 600;
                
              }
              .change{
             position: relative;
             left: 75px;
             bottom: 40px;
             font-size: 15px;
             color: rgb(89, 89, 89);
             font-weight: 400;
              }
    
              .hr-end{
               
                width: 950px;
                 position: relative;
                 top: 40px;
                 left: 700px;
                 border-color: rgb(89, 89, 89);
              }
    
    
    
              .end-logo{
               position: absolute;
               left: 220px;
               bottom: 0px;
              }
    
              .bose-corproration-end{
                font-size: 12px;
                margin-top: 400px;
                margin-right: 600px;
                /* background-color: rgb(59, 236, 236); */
                color: rgb(55, 55, 55);
              }
              










             
          @media (max-width: 1200px){*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Roboto", sans-serif;
            
            }
            
            .main{
                border: none;
                width: 100%;

            }
            
            .nav-main{
                
            background-color:#1a1a1a;
            width:100%;
            height: 100px;
            position: relative;
            display: flex;
            overflow: hidden;
            margin: auto;
            justify-content: space-evenly;
            }
            
            .bose-logo{
                display: none;
                margin-bottom: 50px;
            }
            .fa-bars{
                font-size: 45px;
               
                
            }
            .menu{
                display: inline-block;
                font-size: 13px;
                line-height: 10px;
                margin-left: 30px;
                margin-top: 30px;
                font-weight: 500;
            }
            .bose-mobile-logo{
                display: flex;
                position: absolute;
                margin-left: 40%;
            }
            
            .sub-div-1 a{
           display: none;
            }
            
            .search{
               display: none;
            }
            .input-search{
              display: none;
                
            }
            .fa-magnifying-glass{
                color: aliceblue;

            }
            #responsive-mr{
                position: absolute;
                display: flex;
                color: rgb(115, 115, 115);
                font-size: 40px;
                z-index: 1;
                top: 30px;
                right: 35px;
                display: none;
            }
            .search-button{
                display: none;
            }
            
            
            .support{
                display: none;
            }
            .support-img{
                display: none;
            }
            .stores{
                display: none;
            }
            .fa-location-dot{
                display: none;
            }
        

/* nav------------------------------------------------------------------end--------------- */
/* How-noise-cancelling-main------------------------start-------------------------------------- */

.How-noise-cancelling-main{
    width: 100%;
    height: 1250px;
    background-color:rgb(32, 32, 32);
    display: flex;
   justify-content: center;

}
.How-noise-cancelling-sub-1{
    width: 95%;
    height: 1250px;
    background-color:rgb(32, 32, 32);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.How-noise-cancelling-t{
   
   display: flex;
   
  justify-content: center;
    width: 73%;
    height:250px;
    background-color:rgb(32, 32, 32);
    /* background-color: azure; */
    flex-direction: column;
}
.How-noise-cancelling-h1{
    margin-top:50px;
    font-size: 27px;
   font-weight: 400;
   text-align: center;
}
.How-noise-cancelling-h2{
    font-weight: 300;
    text-align: center;
    margin-top: 17px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(68, 68, 68);
   
}
.How-noise-cancelling-img-div{
    width:100%;
    height: 600px;
    background-color:rgb(32, 32, 32);
    /* background-color: aquamarine; */
    overflow: hidden;
}
.How-noise-cancelling-img{
    width: 100%;
    object-fit: contain;
}
.whenever-text{
    width: 97%;
    height: 400px;
    background-color:rgb(32, 32, 32);
}
.whenever-text-sub{
    margin-top: 40px;
    line-height: 25px;
}
p{padding: 10px;

}

/* How-noise-cancelling-main------------------------end------------------------------------- */
/*Problem-------------------------start --------------------------------------------------- */

.cabin-noise{
    width: 100%;
    height: 780px;
    background-color:rgb(32, 32, 32);
    /* background-color: aqua; */
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.cabin-noise-sub-1{
    width: 95%;
    height: 400px;
    background-color:rgb(32, 32, 32);
    display: flex;
    
}
.cabin-noise-img-t{
    display: flex;
   
      width: 100%;
      height: 400px;
       background-color:rgb(32, 32, 32);
}
.cabin-noise-img{
    background-color:rgb(32, 32, 32);
    width:35.8%;
      height: 450px;
      overflow: hidden;
}
.noise-img{
    width: 100%;
    object-fit: contain;
}
.cabin-noise-text{
    background-color:rgb(32, 32, 32);
   
    width: 65%;
      height: 380px;
      display: flex;
      font-size: 15px;
      flex-direction: column;
      justify-content: center;
     
     
}
.noise-text-h{
    margin-left: 40px;
    font-size: 15px;
}
.noise-text{
    line-height: 25px;
    margin-left: 30px;
}
.cabin-noise-img-t-2{
    width: 100%;
    height: 400px;
    background-color:rgb(32, 32, 32);
    /* background-color: azure; */
    font-size: 15px;
}
.cabin-noise-sub-2{
    width: 95%;
    height: 330px;
    background-color:rgb(32, 32, 32);
    /* background-color: blueviolet; */
    line-height: 25px;
   padding-left: 30px;
   padding-top: 30px;
   font-size: 15px;
}

/* Cabin noise............................................................end.............. */

.chatty-seat-neighbours{
    width:100%;
    height: 330px;
    background-color:rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.chatty-seat-sub-1{
    width: 95%;
    height: 330px;
    background-color:rgb(32, 32, 32);
    line-height: 25px;
   padding-left: 30px;
   font-size: 15px;
}
.chatty-seat-h{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 15px;
}

/* .chatty-seat-neighbours----------------------end =--------------------------- */
.stress-from-flying{
    width:100%;
    height: 600px;
    background-color:rgb(32, 32, 32);
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.stress-from-flying-sub{
    width:95%;
    height: 600px;
    background-color:rgb(32, 32, 32);
    /* background-color: beige; */
    display: flex;
}
.stress-from-flying-text{
    width: 50%;
    height:635px ;
    background-color:rgb(32, 32, 32);
    line-height: 25px;
   padding-left: 20px;font-size: 15px;
}
.stress-from-flying-img{
    width: 50%;
    height:635px ;
    background-color:rgb(32, 32, 32);
}
.from-flying-img{
    width: 100%;
}
.flying-text-h{
    padding: 10px;
    margin-top: 10px;font-size: 15px;
}

/* .stress-from-flying-0--------------------------------------------end---------------------- */

.trouble-relaxing{
    width:100%;
    height: 450px;
    background-color:rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    line-height: 25px;
}
.trouble-relaxing-sub{
    width:95%;
    height: 450px;
    background-color:rgb(32, 32, 32);
    font-size: 15px;
   
}
.trouble-relaxing-h{
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
}

/* .trouble-relaxing---------------------------------------end------------------ */
.share-this{
    width:100%;
    height: 300px;
    background-color:rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
}
.share-this-sub{
    width: 84%;
    height: 300px;
    background-color:rgb(32, 32, 32);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.logos{
    width: 100px;
    height: 50px;
    background-color:rgb(32, 32, 32);
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.fa-facebook-f{
    font-size: 25px;
}
.fa-twitter{
    font-size: 25px;
}
.share-this-p{
    position: absolute;
    display: flex;
    left: 8%;
   margin-top: 90px;
   font-size: 13px;
   font-style: italic;
}
/* .share this  -------------------------------------end 0-00---------------------------------------/ */


.related-products{
    width: 100%;
    height:580px ;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
}
.related-products-sub{
    width:70%;
    height: 580px;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.related-h{
    padding-top: 50px;
    padding-bottom: 20px;
    letter-spacing: 7px;
    font-weight: 400;
    font-size: 25px;
}
.products{
    
    width: 100%;
    height: 350px;
     background-color: rgb(41, 41, 41);
    display: flex;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: 800;
    justify-content: space-between;
    
}
.product-1{
    width: 230px;
        height: 300px;
        background-color: rgb(41, 41, 41);
        
}
.product-2{
    width: 250px;
        height: 300px;
        background-color: rgb(41, 41, 41);
      margin-left: 4%;
}
.product-img{
    width: 260px;
    height: 270px;   
    background-color:rgb(32, 32, 32);
    object-fit: cover;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.img-product{
    width: 150px;
}
.para-2{
    font-weight: 400;
    margin-top: -20px;
    color: rgb(63, 63, 63);
}


/* .related-products-----------------------------------------end--------------------------- */
.related-stories{
    width: 100%;
    height:500px ;
    background-color:rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.related-stories-sub{
    width: 100%;
    height: 400px;
    background-color:rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.related-stories-h{
   position: relative;
   bottom: 30px;
   letter-spacing: 7px;
   font-weight: 400;
   font-size: 25px;
}
.related-stories-container{
    width: 30%;
    height: 400px;
    background-color:rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.for-img{
    width: 100%;
    height: 220px;
    background-color:rgb(32, 32, 32);
    overflow: hidden;
    
}
.related-stories-p{
    font-size: 15px;
    font-weight: 800;
    font-family: BoseText, Verdana, sans-serif;
}
.explore-button{
    width: 143px;
            height: 38px;
            border-radius: 50px;
            border: 1px solid gray;
            color: rgb(223, 223, 223);
            background-color:#1a1a1a;
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-size: 15px;
            margin-top: 10px;        
}


/* related-stories............................................................end------------ */
.fb-etc{
    width: 100%;
    height: 100px;
   
  position: relative;
  top: 10PX;
  padding: 20px;
  background-color: rgb(27, 27, 27);
}
   

             .fa-facebook-f{
                color: rgb(89, 89, 89);
                font-size: 27px;
                margin-left: 220px;
                margin-top: 18px;
             }  
               
                  
                  .fa-youtube{
                    color: rgb(89, 89, 89);
                    font-size: 27px;
                    margin-left: 30px;
                    margin-top: 18px;
                  }
                      
                    
                      .fa-envelope{
                        color: rgb(89, 89, 89);
                        font-size: 28px;
                       right: 285px;
                     
                        position: absolute;

                      }
                    
                           .email-text{
                            position: absolute;
                            left: 900px;
                            bottom: 45px;
                            font-size: 12px;
                           }
                 
                           
       
                           
    .end{
   
        width: 100%;
        height: 580px;
        /* background-color: red; */
        position: relative;
        top: 10PX;
        text-align: center;
        background-color: rgb(17, 17, 17);
    } 
    
        .support-end{
            text-align: left;
            position: absolute;
            top: 70px;
            left: 500px;
            font-size: 14px;
            line-height: 30px;
            color: rgb(89, 89, 89);
        }
     
           
          .privacy-end{
            text-align: left;
            position: absolute;
            top: 70px;
            left: 900px;
            font-size: 14px;
            line-height: 30px;
            color: rgb(89, 89, 89);
          }
          .auto-text{
            position: relative;
            right: 450px;
            top: 70px;
            font-size: 14px;
            font-weight: 900;
          }




          .region{
            position: relative;
            top: 390px;
            right: 290px;
            font-size: 13px;
            font-weight: 600;
            
          }
          .change{
         position: relative;
         left: 75px;
         bottom: 38px;
         font-size: 15px;
         color: rgb(89, 89, 89);
         font-weight: 400;
          }

          .hr-end{
           
            width: 950px;
             position: relative;
             top: 10px;
             left: 600px;
             border-color: rgb(89, 89, 89);
          }



          .end-logo{
            position: absolute;
            top:468px;
            left: 100px;
          }

          .bose-corproration-end{
            font-size: 12px;
            margin-top: 420px;
            margin-right: 600px;
            color: rgb(89, 89, 89);
            
          }
}

















@media(max-width: 590px){  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
    }
    
    .main{
        border: none;
        width: 100%;

    }
    
    .nav-main{
        /* background-color: blueviolet; */
    background-color:#1a1a1a;
    width:100%;
    height: 70px;
    position: relative;
    display: flex;
    overflow: hidden;
    margin: auto;
    justify-content: space-evenly;
    }
    
    .bose-logo{
        display: none;
        margin-bottom: 50px;
    }
    .fa-bars{
        font-size: 25px;
       margin-left: 10px;
       margin-top: -10px;
        
    }
    .menu{
        display: inline-block;
        font-size: 8px;
        line-height: 10px;
        margin-left: 30px;
        margin-top: 20px;
        font-weight: 500;
    }
    .bose-mobile-logo{
        display: flex;
        position: absolute;
        margin-left: 40%;
        width: 100px;
    }
    
    .sub-div-1 a{
   display: none;
    }
    
    .search{
       display: none;
    }
    .input-search{
      display: none;
        
    }
    .fa-magnifying-glass{
        color: aliceblue;
            
    }
    #responsive-mr{
        position: absolute;
        display: flex;
        color: rgb(115, 115, 115);
        font-size: 20px;
        z-index: 1;
        top: 25px;
        right: 35px;
        display: none;
    }
    .search-button{
        display: none;
    }
    
    
    .support{
        display: none;
    }
    .support-img{
        display: none;
    }
    .stores{
        display: none;
    }
    .fa-location-dot{
        display: none;
    }


    /* NAV-------------------------------------END[]]]]]]]====================------------- */

/* How-noise-cancelling-main------------------------start-------------------------------------- */

.How-noise-cancelling-main{
    width: 100%;
    height: 1250px;
    background-color:rgb(32, 32, 32);
    /* background-color: aqua; */
    display: flex;
   justify-content: center;

}
.How-noise-cancelling-sub-1{
    width: 95%;
    height: 1250px;
    background-color:rgb(32, 32, 32);
    /* background-color: beige; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.How-noise-cancelling-t{
   
   display: flex;
   
  justify-content: center;
    width: 90%;
    height:250px;
    background-color:rgb(32, 32, 32);
    /* background-color: azure; */
    flex-direction: column;
}
.How-noise-cancelling-h1{
    margin-top:50px;
    font-size: 27px;
   font-weight: 400;
   text-align: center;
}
.How-noise-cancelling-h2{
    font-weight: 300;
    text-align: center;
    margin-top: 17px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(68, 68, 68);
   
}
.How-noise-cancelling-img-div{
    width:100%;
    height: 280px;
    background-color:rgb(32, 32, 32);
    /* background-color: aquamarine; */
    overflow: hidden;
    z-index: 1;
}
.How-noise-cancelling-img{
    width: 100%;
    object-fit: contain;
}
.whenever-text{
    width: 97%;
    height: 400px;
    background-color:rgb(32, 32, 32);
    /* background-color: beige; */
}
.whenever-text-sub{
    margin-top: 40px;
    line-height: 25px;
}
p{padding: 10px;

}

/* How-noise-cancelling-main------------------------end------------------------------------- */
/*Problem-------------------------start --------------------------------------------------- */

.cabin-noise{
    width: 100%;
    height: 1700px;
    background-color:rgb(32, 32, 32);
position: relative;
    /* background-color: aqua; */
    display: flex;
   /* justify-content: center; */
   flex-wrap: wrap;
   
   
   
}
.cabin-noise-sub-1{
    width: 100%;
    height: 400px;
    background-color:rgb(32, 32, 32);
    /* background-color: aqua; */
    display: flex;
    
    
}
.cabin-noise-img-t{
    display: flex;
  flex-direction: column;
      width: 100%;
      height: 1000px;
       background-color:rgb(32, 32, 32);
       /* background-color: blue; */
       justify-content: space-between;
}
.cabin-noise-img{
    background-color:rgb(32, 32, 32);
    /* background-color: blueviolet; */
    width:100%;
      height: 450px;
      overflow: hidden;

}
.noise-img{
    width: 100%;
    object-fit: contain;
    z-index: 1;
}
.cabin-noise-text{
    background-color:rgb(32, 32, 32);
    /* background-color: chartreuse; */
    /* background: none; */
   
    width: 500px;
      height: 700px;
      display: flex;
      font-size: 15px;
     
      justify-content: center;
     
     
}
.noise-text-h{
    margin-left: 40px;
    font-size: 15px;
}
.noise-text{
    line-height: 25px;
    margin-left: 30px;
}
.cabin-noise-img-t-2{
    width: 100%;
    height: 400px;
    background-color:rgb(32, 32, 32);
    /* background-color: azure; */
    font-size: 15px;
}
.cabin-noise-sub-2{
    width: 95%;
    height: 700px;
    background-color:rgb(32, 32, 32);
    /* background-color: blueviolet; */
    line-height: 25px;
   padding-left: 30px;
   padding-top: 30px;
   font-size: 15px;
   margin-top: 550px;
}

/* Cabin noise............................................................end.............. */

.chatty-seat-neighbours{
    width:100%;
    height: 330px;
    background-color:rgb(32, 32, 32);
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.chatty-seat-sub-1{
    width: 95%;
    height: 330px;
    background-color:rgb(32, 32, 32);
    line-height: 25px;
   padding-left: 30px;
   font-size: 15px;
}
.chatty-seat-h{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 15px;
}

/* .chatty-seat-neighbours----------------------end =--------------------------- */
.stress-from-flying{
    width:100%;
    height: 600px;
    background-color:rgb(32, 32, 32);
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.stress-from-flying-sub{
    width:95%;
    height: 600px;
    background-color:rgb(32, 32, 32);
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
}
.stress-from-flying-text{
    width: 100%;
    height:635px ;
    background-color:rgb(32, 32, 32);
    /* background-color: blue; */
    line-height: 25px;
   padding-left: 20px;font-size: 15px;
}
.stress-from-flying-img{
    width: 100%;
    height:635px ;
    background-color:rgb(32, 32, 32);
}
.from-flying-img{
    width: 100%;
}
.flying-text-h{
    padding: 10px;
    margin-top: 10px;font-size: 15px;
}

/* .stress-from-flying-0--------------------------------------------end---------------------- */

.trouble-relaxing{
    width:100%;
    height: 450px;
    background-color:rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    line-height: 25px;
    margin-top: 500px;
}
.trouble-relaxing-sub{
    width:95%;
    height: 450px;
    background-color:rgb(32, 32, 32);
    font-size: 15px;
   
}
.trouble-relaxing-h{
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
}

/* .trouble-relaxing---------------------------------------end------------------ */
.share-this{
    width:100%;
    height: 200px;
    background-color:rgb(32, 32, 32);
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
    margin-top: 450px;
}
.share-this-sub{
    width: 95%;
    height: 200px;
    background-color:rgb(32, 32, 32);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.logos{
    width: 100px;
    height: 50px;
    background-color:rgb(32, 32, 32);
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.fa-facebook-f{
    font-size: 25px;
    display: none;
}
.fa-twitter{
    font-size: 25px;
    display: none;
}
.share-this-p{
    position: absolute;
    display: flex;
    left: 8%;
   margin-top: 50px;
   font-size: 13px;
   font-style: italic;
}
/* .share this  -------------------------------------end 0-00---------------------------------------/ */


.related-products{
    width: 100%;
    height:1000px ;
    background-color: rgb(41, 41, 41);
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}
.related-products-sub{
    width:90%;
    height: 1000px;
    background-color: rgb(41, 41, 41);
    /* background-color: rgb(192, 12, 45); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.related-h{
    padding-top: 50px;
    padding-bottom: 20px;
    letter-spacing: 7px;
    font-weight: 400;
    font-size: 25px;
}
.products{
    
    width: 100%;
    height: 800px;
     background-color: rgb(41, 41, 41);
     /* background-color: bisque; */
    display: flex;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: 800;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.product-1{
    width: 230px;
        height: 300px;
        background-color: rgb(41, 41, 41);
        
}
.product-2{
    width: 250px;
        height: 300px;
        background-color: rgb(41, 41, 41);
      margin-top:35%;
}
.product-img{
    width: 260px;
    height: 270px;   
    background-color:rgb(32, 32, 32);
    object-fit: cover;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.img-product{
    width: 150px;
}
.para-2{
    font-weight: 400;
    margin-top: -20px;
    color: rgb(63, 63, 63);
}


/* .related-products-----------------------------------------end--------------------------- */
.related-stories{
    width: 100%;
    height:500px ;
    background-color:rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.related-stories-sub{
    width: 100%;
    height: 400px;
    background-color:rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.related-stories-h{
   position: relative;
   bottom: 30px;
   letter-spacing: 7px;
   font-weight: 400;
   font-size: 25px;
}
.related-stories-container{
    width: 95%;
    height: 400px;
    background-color:rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    justify-content: center;
    align-items: center;

}
.for-img{
    width: 100%;
    height: 220px;
    background-color:rgb(32, 32, 32);
    overflow: hidden;
    
}
.related-stories-p{
    font-size: 15px;
    font-weight: 800;
    font-family: BoseText, Verdana, sans-serif;
}
.explore-button{
    width: 143px;
            height: 38px;
            border-radius: 50px;
            border: 1px solid gray;
            color: rgb(223, 223, 223);
            background-color:#1a1a1a;
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-size: 15px;
            margin-top: 10px;        
}


/* related-stories............................................................end------------ */
.are-boys-points{
    width: 100%;
    height:400px ;
    background-color:rgb(32, 32, 32);
    display: flex;
    margin-top: 800px;
    font-size: 13px;
    
}
.are-boys-points-sub{
    width: 100%;
    height:400px ;
    background-color:rgb(32, 32, 32);
}
.fa-square-plus{
    margin: 3px;
    margin-right: 10px;
    margin-left: 10px;
}





/* are-----------------end-------------------------------- */
.fb-etc{
                width: 100%;
                height: 150px;
               
              position: relative;
              top: -20PX;
              padding: 20px;
              background-color: rgb(27, 27, 27);
            }
               
            
                         .fa-facebook-f{
                            color: rgb(89, 89, 89);
                            font-size: 27px;
                            margin-left: 20px;
                            margin-top: 18px;
                         }  
                           
                              
                              .fa-youtube{
                                color: rgb(89, 89, 89);
                                font-size: 27px;
                                margin-left: 30px;
                                margin-top: 18px;
                              }
                                  
                                
                                  .fa-envelope{
                                    color: rgb(89, 89, 89);
                                    font-size: 28px;
                                   right: 400px;
                                   top: 80px;
                                 
                                    position: absolute;
            
                                  }
                                
                                       .email-text{
                                        position: absolute;
                                        left: 100px;
                                        bottom: 45px;
                                        font-size: 12px;
                                        top: 100px;
                                       }
                             
                                       
                   
                                       
                .end{
               
                    width: 100%;
                    height: 990px;
                    /* background-color: red; */
                    position: relative;
                    top: 43PX;
                    text-align: center;
                    background-color: rgb(17, 17, 17);
                } 
                
                    .support-end{
                        text-align: left;
                        position: absolute;
                        top: 90px;
                        left: 15px;
                        font-size: 14px;
                        line-height: 30px;
                        color: rgb(89, 89, 89);
                        line-height: 40px;
                    }
                 
                       
                      .privacy-end{
                        text-align: left;
                        position: absolute;
                        top: 450px;
                        left: 15px;
                        font-size: 14px;
                        line-height: 30px;
                        color: rgb(89, 89, 89);
                        line-height: 40px;
                      }
                      .auto-text{
                        position: relative;
                        right: 130px;
                        top: 50px;
                        font-size: 14px;
                        font-weight: 900;
                      }
            
            
            
            
                      .region{
                        position: relative;
                        top: 790px;
                        right: 180px;
                        font-size: 13px;
                        font-weight: 600;
                        
                      }
                      .change{
                     position: relative;
                     left: 75px;
                     bottom: 18px;
                     font-size: 15px;
                     color: rgb(89, 89, 89);
                     font-weight: 400;
                      }
            
                      .hr-end{
                       
                        width: 950px;
                         position: relative;
                         top: 45px;
                         left: 20px;
                         border-color: rgb(89, 89, 89);
                      }
            
            
            
                      .end-logo{
                        position: absolute;
                        top:910px;
                        left: 20px;
                        width: 70px;
                      }
            
                      .bose-corproration-end{
                        font-size: 12px;
                        margin-top: 880px;
                        margin-right: 100px;
                        color: rgb(89, 89, 89);
                        
                      }.fb-etc{
                        width: 100%;
                        height: 150px;
                       
                      position: relative;
                      top: 43PX;
                      padding: 20px;
                      background-color: rgb(27, 27, 27);
                    }
                       
                    
                                 .fa-facebook-f{
                                    color: rgb(89, 89, 89);
                                    font-size: 27px;
                                    margin-left: 20px;
                                    margin-top: 18px;
                                 }  
                                   
                                      
                                      .fa-youtube{
                                        color: rgb(89, 89, 89);
                                        font-size: 27px;
                                        margin-left: 30px;
                                        margin-top: 18px;
                                      }
                                          
                                        
                                          .fa-envelope{
                                            color: rgb(89, 89, 89);
                                            font-size: 28px;
                                           right: 400px;
                                           top: 80px;
                                         
                                            position: absolute;
                    
                                          }
                                        
                                               .email-text{
                                                position: absolute;
                                                left: 100px;
                                                bottom: 45px;
                                                font-size: 12px;
                                                top: 100px;
                                               }
                                     
                                               
                           
                                               
                        .end{
                       
                            width: 100%;
                            height: 990px;
                            /* background-color: red; */
                            position: relative;
                            top: 43PX;
                            text-align: center;
                            background-color: rgb(17, 17, 17);
                        } 
                        
                            .support-end{
                                text-align: left;
                                position: absolute;
                                top: 90px;
                                left: 15px;
                                font-size: 14px;
                                line-height: 30px;
                                color: rgb(89, 89, 89);
                                line-height: 40px;
                            }
                         
                               
                              .privacy-end{
                                text-align: left;
                                position: absolute;
                                top: 450px;
                                left: 15px;
                                font-size: 14px;
                                line-height: 30px;
                                color: rgb(89, 89, 89);
                                line-height: 40px;
                              }
                              .auto-text{
                                position: relative;
                                right: 130px;
                                top: 50px;
                                font-size: 14px;
                                font-weight: 900;
                              }
                    
                    
                    
                    
                              .region{
                                position: relative;
                                top: 790px;
                                right: 180px;
                                font-size: 13px;
                                font-weight: 600;
                                
                              }
                              .change{
                             position: relative;
                             left: 75px;
                             bottom: 18px;
                             font-size: 15px;
                             color: rgb(89, 89, 89);
                             font-weight: 400;
                              }
                    
                              .hr-end{
                               
                                width: 950px;
                                 position: relative;
                                 top: 45px;
                                 left: 20px;
                                 border-color: rgb(89, 89, 89);
                              }
                    
                    
                    
                              .end-logo{
                                position: absolute;
                                top:910px;
                                left: 20px;
                                width: 70px;
                              }
                    
                              .bose-corproration-end{
                                font-size: 12px;
                                margin-top: 880px;
                                margin-right: 100px;
                                color: rgb(89, 89, 89);
                                
                              }

}

    
    
 
